<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Do you need a mobile app developer?</h2>
                <p>Contact me to find out how I can help your project!</p>
                <div class="badges">
                    <a style="color:black" class="btn btn-outline btn-xl page-scroll" href="#why">Hire me</a>
                    <a class="btn btn-outline btn-xl page-scroll" href="#portfolio">Find out more</a>
                </div>
            </div>
        </div>
    </div>
</section>
